@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, grey, grey, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo{
  font-family: 'Odibee Sans', cursive;
}

.margined{
  width: 90%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
