.App {
  text-align: center;
  background-image: linear-gradient(to bottom right, grey, grey, black);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margined{
  width: 90%;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
